# --- Core ML & Deep Learning ---
tensorflow>=2.16.0
torch>=2.0.1
transformers>=4.30.2
transformers[sentencepiece]
datasets==2.12.0
evaluate==0.4.0
numpy>=1.26.0,<2.0
pandas>=2.0.0
scikit-learn==1.2.2
mlflow==2.3.2
protobuf==3.20.3
tensorboard==2.12.3
xgboost==1.7.6
catboost==1.2

# --- NLP Metrics & Processing ---
sacrebleu==2.3.1
rouge_score==0.1.2
py7zr==0.20.5
nltk==3.8.1

# --- Optimization & Experiment Tracking ---
hyperopt==0.2.7
dvc
dagshub
dvc-s3
python-dotenv==1.2.1

# --- Database & AWS Connectivity ---
pymongo==4.6.1
dnspython
certifi==2024.12.14
boto3>=1.34.0
mypy-boto3-s3>=1.34.0
sagemaker==2.195.0

# --- Visualization & Notebooks ---
matplotlib
notebook
tqdm

# --- Utilities & Configuration ---
python-box==6.0.2
ensure==1.0.2
pyYAML==6.0.1
types-PyYAML
joblib
dill

psycopg2-binary
faker

# --- Web & API ---
Flask
Flask-Cors
fastapi==0.78.0
uvicorn==0.18.3
python-multipart
Jinja2==3.1.2


# --- GenAI ---
openai
langchain
langchain-core
langchain_nvidia_ai_endpoints
langchain_community
faiss-cpu
streamlit
pypdf
#-e